@font-face
{
  font-family: 'Raleway';
  src: url('fonts/Raleway-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face
{
  font-family: 'Raleway';
  src: url('fonts/Raleway-SemiBold.ttf') format('ttf');
  font-weight: 600;
}

@font-face
{
  font-family: 'Raleway';
  src: url('fonts/Raleway-Bold.ttf') format('ttf');
  font-weight: 700;
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.top_menu
{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: 80px;
}

.menu_item
{
    list-style: none;
    display: inline-block;
    
}

.menu_link
{
    text-decoration: none;
    padding: 0 20px;
    line-height: 80px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #282b30;
    display: inline-block;
}

.top_block_wrapper
{
    background: url('../images/top_block.jpg') center center;
    background-size: cover;
    padding: 175px 0;
    text-align: center;
    margin-top: 80px;
}

.top_block_title_wrapper
{
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    display: inline-block;
}

.top_block_title
{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 500;
    text-transform: uppercase;
}

.content_wrapper
{
    padding: 60px 20px;
    width: 1000px;
    margin: 0 auto;
}

.content_title
{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    text-transform: uppercase;
    color: #282b30;
    margin: 0 0 40px;
}

.text
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 25px;
    color: #282b30;
    max-width: 560px;
}

.content_list
{
    margin: 0 0 40px;
    padding: 0;
    list-style: none; 
}

.content_list_item
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    margin: 0 0 13px;
    color: #282b30;
    max-width: 380px;
    position: relative;
    padding-left: 25px;
}

.content_list_item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 12px;
  height: 12px;
  background: url('../images/coffee-bean.png') no-repeat center center;
  background-size: contain;
}

.order_button
{
    background: #0fa8ea;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 52px;
    font-weight: 700;
    border-radius: 26px;
    padding: 0 50px;
    display: inline-block;
    text-decoration: none;
}

.order_title
{
    max-width: 340px;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    color: #2b2b2b;
    margin: 0 0 26px;
}

.order_text_wrapper
{
    display: inline-block;
    width: 430px;
    margin-right: 110px;
    vertical-align: 260px;
}

.order_picture_wrapper
{
    display: inline-block;
}

.cupping_text_wrapper
{
    display: inline-block;
    width: 430px;
    margin-left: 110px;
    vertical-align: 260px;
}

.reviews_wrapper
{
    padding: 80px 20px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.reviews_title
{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    text-transform: uppercase;
    color: #282b30;
    margin: 0 0 60px;
}

.reviews_list
{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.review_item
{
    flex: 1;
    max-width: 300px;
    text-align: left;
}

.review_photo
{
    width: 240px;
    height: 240px;
    margin: 0 0 20px;
    overflow: hidden;
}

.review_photo img
{
    margin: 0 auto;
    display: inline-block;
}

.review_name
{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #282b30;
    margin: 0 0 15px;
}

.review_text
{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    color: #282b30;
    max-width: 240px;
    margin-bottom: 50px;
}

.bottom_menu
{
    background: #e8e6eb;
    text-align: center;
}